.photo-container {
  height: 85vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .photo {
    flex: 0 0 calc(100% - 20px); // Updated for mobile view
    height: 300px;
    width: 99%;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    margin-right: 20px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  .imageWidth {
    width: 30%;

    .heart-icon {
      display: flex;
      justify-content: end;
      margin-right: 3%;
    }

    .red {
      color: red;
    }

    .green {
      color: green;
    }

    .icon-position {
      position: relative;
      top: 100%;
    }
  }

  @media (max-width: 768px) {
    .imageWidth {
      width: 100%;
    }
  }
}

.loader {
  position: absolute;
  top: 75%;
  left: 43%;
}
