<div class="photo-container" (scroll)="onScroll()">
  <div
    class="pointer imageWidth"
    (click)="addToFavorites(photo)"
    *ngFor="let photo of photos"
  >
    <div class="heart-icon">
      <div *ngIf="photo.isLiked; else elseBlock">
        <mat-icon class="red icon-position">favorite</mat-icon>
      </div>
      <ng-template #elseBlock>
        <div>
          <mat-icon class="green icon-position">favorite_border</mat-icon>
        </div>
      </ng-template>
    </div>

    <img
      class="photo image"
      src="{{ photo.download_url }}"
      alt="{{ photo.id }}"
    />
  </div>
</div>
<div class="loader" *ngIf="loading">
  <div>
    <mat-spinner></mat-spinner>
  </div>
</div>
