.photo-container {
  height: 85vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  .photo {
    flex: 0 0 calc(33.33% - 20px); // Adjust the width to fit three photos in a row
    height: 300px;
    width: 95%;
    background-color: #f2f2f2;
    margin-bottom: 10px;
    margin-right: 20px; // Add margin between photos
    &:nth-child(3n) {
      margin-right: 0; // Remove margin for the last photo in each row
    }
  }

  .imageWidth {
    width: 30%;
  }
}

.loader {
  position: absolute;
  top: 75%;
  left: 43%;
}
